.hero-contact {
    min-height: 90vh;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
    padding: 5em 2em;
}

.hero-contact-text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hero-contact-text h2 {
    color: #ce4760;
    font-size: 1.8em;
    text-align: center;
}

.hero-contact-text h3 {
    color: #ce4760;
    font-size: 1.2em;
    text-align: center;
    margin: 1.5em 0;
}

.hero-contact-text p {
    color: #ce4760;
    font-size: 1.2em;
    text-align: justify;
    max-width: 80%;
}

.hero-contact-form {
    max-width: 100%;
}

.hero-contact-form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contact-form {
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contact-form input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ce4760;
    font-size: 24px;
    padding: 0.4em;
    width: 100%;
    color: #ce4760;
    margin-bottom: 0.4em;
}

.row {
    display: flex;
    margin: 2em 0 !important;
}

.hero-contact-form textarea#message {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ce4760;
    font-size: 24px;
    padding: 0.4em;
    color: #ce4760;
}

.submit {   
    width: 100%;
    justify-content: space-around;
}

.submit a {
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    color: #ce4760;
    font-weight: 600;
    font-size: 40px;
    color: #ce4760;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 5px 0;
  }
  
  .submit a::before,
  .submit a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .submit a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .submit a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  .submit a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .submit a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .submit a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .submit a:hover span {
    transform: translate3d(-200%, 0, 0);
}

@media  screen and (min-width: 950px) {
    .hero-contact {
        flex-direction: row;
        justify-content: center;
        padding: 0em 2em;
    }
    .hero-contact-text {
        align-items: flex-start;
    }
    .hero-contact-text h2 {
        font-size: 3.5em;
        text-align: left;
    }
    
    .hero-contact-text h3 {
        font-size: 2em;
        text-align: left;
    }
    
    .hero-contact-text p {
        font-size: 1.6em;
        max-width: 100%;
    }
}